.camp-section {
    background: transparent;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      #3c404326 0px 1px 3px 1px;
    width: 92vw;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
  }

.bolder {
  font-weight: 800;
}

.boldest {
  font-weight: 1000;
  text-decoration: underline;
}

.font-size-18 {
  font-size: 20px;
}